@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Define a professional color theme */
:root {
  --primary-color: #1f2937;
  --secondary-color: #4b5563;
  --accent-color: #ffffff;
  --background-color: #f7f8fc;
  --text-color: #333;
  --light-text-color: #555;
  --light-background-color: #fff;
  --hover-background-color: #e0e0e0;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  background-attachment: scroll;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode {
  --primary-color: #f7f8fc;
  --secondary-color: #e0e0e0;
  --accent-color: #1f2937;
  --background-color: #333;
  --text-color: #ffffff;
  --light-text-color: #ccc;
  --light-background-color: #4b5563;
  --hover-background-color: #555;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

.App {
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  background-color: var(--background-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-color);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--accent-color);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap;
}

.App-header h1 {
  font-size: 1.5rem;
  margin: 0;
  flex: 1;
  text-align: center;
}

.App-header .greeting {
  font-size: 1rem;
  color: var(--accent-color);
  position: absolute;
  right: 90px;
}

.App-header button {
  position: absolute;
  left: 20px;
}

.App-main {
  padding: 80px 20px;
  font-size: calc(8px + 1vmin);
  color: var(--text-color);
  flex-grow: 1;
  overflow-y: auto;
  animation: fadeIn 0.5s ease-in-out;
  transition: all 0.3s ease;
}

.App-footer {
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: background-color 0.3s ease;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #61dafb;
  transition: color 0.3s ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grade-section,
.graduation-check {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: var(--light-background-color);
  box-shadow: 0 2px 10px var(--box-shadow-color);
  transition: all 0.3s ease;
}

.grade-section h4,
.graduation-check h3 {
  margin: 0;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

.grade-section p,
.graduation-check p {
  margin: 5px 0;
  color: #555;
  transition: color 0.3s ease;
}

.grade-section ul,
.graduation-check ul {
  list-style-type: none;
  padding: 0;
}

.grade-section ul li,
.graduation-check ul li {
  background-color: var(--light-background-color);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.grade-section ul li:hover,
.graduation-check ul li:hover {
  background-color: var(--hover-background-color);
}

.App-body {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 10vh);
  transition: all 0.3s ease;
}

.App-menu {
  width: 220px;
  background-color: var(--light-background-color);
  padding: 20px;
  box-shadow: 2px 0 5px var(--box-shadow-color);
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-right: 20px;
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
}

.App-menu ul {
  list-style-type: none;
  padding: 0;
}

.App-menu ul li {
  padding: 15px;
  margin: 10px 0;
  background-color: var(--light-background-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px var(--box-shadow-color);
}

.App-menu ul li:hover {
  background-color: var(--hover-background-color);
}

.content {
  background: var(--light-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--box-shadow-color);
  animation: slideIn 0.5s ease-in-out;
  transition: all 0.3s ease;
  margin-left: 240px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animations from animations.css */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.slide-down {
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-right {
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

button {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}
